html, body {
    margin:0;
    padding:0;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}
#portfolio {
    background: #424242;
    background: #272D2D;
    color:white;
}

/* global style */

section {
    /* border-bottom: 2px solid #999; */
    /* min-height: 100vh; */
}
a {
    text-decoration: none;
    color: inherit;
}
button {
    border: 2px solid #444;
    color: #444;
    background: none;
    border-radius: 17px;
    padding: 9px 11px;
    margin: 0 5px;
    font-weight: bold;
    font-size: 1.2em;
    transition: all 0.3s;
    cursor: pointer;
}
.bold {
    font-weight: bold;
}

.center-text {
    text-align: center;
}
.sub-header > h3 {
    font-size: 2.4em;
}
.sub-header > p {
    font-size: 1.6em;
}
.down-arrow {
    cursor:pointer;
    width:100px;
    margin:auto;
}
.down-arrow img {
    width:100px;
    height:70px;
}

/* navbar style */

#navbar {
    width:100vw;
    display:grid;
    grid-template-columns:  1fr 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
    height:60px;
    position: fixed;
    z-index: 5;
    background:inherit;
}

#navbar div {
    font-size: 1.1em;
    cursor: pointer;
    display:flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width:100%;
    height:100%;
    border-bottom:1px solid rgba(0,0,0,0);
    transition: all 0.3s;
}
#navbar div:hover {
    border-bottom:2px solid #ddd;
}
#nav1 {
    grid-column: 2/3;
}
#nav2 {
    grid-column: 3/4;
}
#nav3 {
    grid-column: 4/5;
}
#nav4 {
    grid-column: 5/6;
}

/* Home style */

#hero-img{
    width:100vw;
    height:auto;
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0;
    position: absolute;
    pointer-events: none;
}

.hero-section {
    display:grid;
    grid-template-rows: 80vh 20vh;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 2.6em;
    height:100vh;
}
.hero-text button {
    font-size: 2.9vw;
    color: #4C9F70;
    border:4px solid #4C9F70;
    border-radius:30px;
}
.hero-text button:hover {
    color: #F6F8FF;
    border:4px solid rgb(237, 255, 245);
}
.hero-text {
    font-size: 3.2vw;
    /* background:#eee; */
}
.hero-text > h1 {
    color: #F6F8FF;
    font-weight: 400;
}
.hero-text > h3 {
    font-weight: 400;
}

/* About styling */
#about {
    padding-top: 50px;
    /* min-height: 600px; */
    display:grid;
    grid-template-columns: 22vw 56vw 22vw;
    grid-template-rows: 150px auto 100px;
    min-height: 550px;
    padding-top: 70px;
}

#about-title {
    color:rgb(255, 242, 183);
    font-size: 2em;
    grid-row: 1/2;
    grid-column: 2/3;
    display:flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-bottom:50px;
}
#about-title:after {
    display: inline-block;
    margin: 0 0 8px 20px;
    height: 3px;
    content: " ";
    text-shadow: none;
    background-color: #999;
    width: 390px;
}
#about-title:before {
    display: inline-block;
    margin: 0 20px 8px 0;
    height: 3px;
    content: " ";
    text-shadow: none;
    background-color: #999;
    width: 390px;
}

#profile-img-container {
    grid-row: 2/3;
    grid-column: 1/2;
    border-radius: 100%;
    width: 13vw;
    max-width: 250px;
    height: 13vw;
    max-height: 250px;
    margin: auto;
    margin-right:15%; 
}
#profile-img-container > img {
    border-radius: 100%;
    width:100%;
    height:100%;
}
#about-text {
    grid-row: 2/3;
    grid-column: 2/4;
    line-height: 1.8em;
    font-size: 1.5em;
    margin-right:10%;
    display:flex;
    text-align: left;
    justify-content: center;
    align-items: center;
    margin-bottom:80px;
}
#about .down-arrow {
    grid-column: 2/3;
    grid-row: 3/4;
    display:flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

/* Projects styling */

#projects {
    padding-top: 50px;
}

#projects .sub-header > h3:after {
    display: inline-block;
    margin: 0 0 8px 20px;
    height: 3px;
    content: " ";
    text-shadow: none;
    background-color: #999;
    width: 390px;
}
#projects .sub-header > h3:before {
    display: inline-block;
    margin: 0 20px 8px 0;
    height: 3px;
    content: " ";
    text-shadow: none;
    background-color: #999;
    width: 390px;
}
#projects .sub-header {
    margin-bottom:90px;
}
#projects-cards-container {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(auto);
    grid-gap: 40px;
    margin: 40px;
    margin-bottom:80px;
}

.card-container {
    
    position: relative;
    width:100%;
    max-width: 700px;
    background:white;
    border-radius: 8px;
}
.card-container > img {
    
    z-index: 1;
    width:100%;
    max-height:100%;
    top:0;
    position: absolute;
    left:0;
    pointer-events: none;
    border-radius: 8px;
}
.card {
    
    /* background: linear-gradient(to bottom, rgba(255,255,255,1) 1%,rgba(255,255,255,1) 7%,rgba(255,255,255,0) 26%,rgba(255,255,255,0) 52%,rgba(255,255,255,0) 60%,rgba(255,255,255,1) 89%,rgba(255,255,255,1) 100%);
     */
    position:relative;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 46%,rgba(0,0,0,0.2) 100%);
    /* background: inherit; */
    height: 400px;
    z-index: 3;
    border-radius: 8px;
    box-shadow: -2px 4px 29px 0px rgba(0,0,0,0.36);
    padding: 14px 19px;
}
.card.hover {
    background: rgba(0, 0, 0, 0.9);
}
.card-buttons {
    
    margin-top: 130px;
    display:grid;
    grid-template-columns: 1fr 1fr;
}
.card button {
    opacity:0;
    color: #333;
    cursor: pointer;
    font-size: 1.3em;
}
.card-title.hover, .card > button.hover {
    color: rgb(251, 253, 253);
}
.card button.hover:hover {
    color:rgb(237, 255, 245);
    border: 2px solid rgb(237, 255, 245);
}
.card button.hover {
    border: 2px solid white;
    border: 2px solid #4C9F70;
    color: #4C9F70;
    opacity: 1;
}
.card-button-project {
    margin-left: auto;
    margin-right: 10%;
}
.card-button-code {
    margin-left: 10%;
    margin-right: auto;
}

.card, .card-title, .card-text, .card-tag-container {
    transition: all 0.6s;
}
.card-info-icon {
    color:white;
    cursor: default;
    display:inline-block;
    width:40px;
}
.card-info-icon-img {
    margin:3px;
    height:44px;
    width:44px;
    opacity: 0.8;
    transition: opacity 0.6s;
}
.card-info-icon-img:hover {
    opacity: 1;
}
.card-info-icon.hover, .card-title.hover, .card-tag-container.hover {
    opacity : 1;
}

.card-text, .card-tag-container, .card-info-icon {
    opacity: 0;
}
.card-title {
    margin-left: 62px;
    margin-top:-45px;
    height:40px;
    color:#222;
    opacity:0;
    pointer-events:none;
    font-size: 1.7em;
}
.card-text {
    top:0;
    margin-top: -6px;
    height:100%;
    margin-left:5px;
    margin-right: 24px;
    position: absolute;
    line-height: 1.8em; 
    color:rgb(227, 233, 233);
    pointer-events:none;
    font-size: 1.25em;
    display:flex;
    text-align: left;
    justify-content: center;
    align-items: center;
}
.card-tag-container {
    opacity: 0;
    margin-top: 145px;
    margin-left:30px;
}
.card-tag {
    background: rgb(75, 75, 75);
    font-weight: bold;
    font-size: 1.1em;
    color:#ccc;
    padding: 10px 10px;
    margin: 0 15px;
    cursor: default;
    border-radius: 4px;
    box-shadow: -5px 6px 0px -1px rgba(15,15,15,0.8);
}
.card-tag:hover {
    color: rgb(227, 233, 233);
}

.show {
    opacity: 1;
}
.hide {
    opacity: 0;
}

/* contact style */
#contact {
    padding-top: 40px;
    padding-bottom:150px;
}
#contact-header {
    margin-bottom:50px;
}

#contact-header > h3:after {
    display: inline-block;
    margin: 0 0 8px 20px;
    height: 3px;
    content: " ";
    text-shadow: none;
    background-color: #999;
    width: 390px;
}

#contact-header > h3:before {
    display: inline-block;
    margin: 0 20px 8px 0;
    height: 3px;
    content: " ";
    text-shadow: none;
    background-color: #999;
    width: 390px;
}

#contact-form {
    margin-top: 40px;
}
#contact-form > form {
    width:80vw;
    max-width: 1100px;
    min-height: 500px;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2.5fr 1fr;
    background: rgb(143, 163, 161);
    margin: auto auto;
    border-radius: 6px;
}
#contact-form > form > label {

    font-size: 1.5em;
    padding:40px 70px 0px 70px;
}
#contact-form > form > label > input,textarea {
    display: block;
    background:rgb(90, 94, 94);
    width: 100%;
    min-width:200px;
    border:0;
    border-radius: 3px;
    margin-top:10px;
    color:white;
    font-size: 1.1em;
}

#contact-form-name {
    grid-row: 1/2;
    grid-column: 1/2;
}
#contact-form-name > input,textarea{
    min-height:40px;
}
#contact-form-email > input,textarea {
    min-height:40px;
}
#contact-form-email {
    grid-row: 1/2;
    grid-column: 2/3;
}
#contact-form-message {
    grid-row: 2/3;
    grid-column: 1/3;
}
textarea {
    vertical-align: top;
}
#contact-form-message >textarea {
    min-height: 250px;
    width: 80%;
    min-width:200px;
    
}
#contact-form-submit {
    background: #F6F8FF;
    grid-row: 3/4;
    grid-column: 1/2;
    width: 150px;
    margin:40px 0;
    margin-left:70px;
    border-radius: 19px;
    border:2px solid #F6F8FF;
    font-weight: bold;
    font-size: 1.3em;
    display:flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    transition: all 0.4s;
}
#contact-form-submit:hover {
    font-size: 1.5em;
    background: rgb(232, 234, 240);
}

@media screen  and (max-width: 1750px) {
    #projects-cards-container {
        grid-template-columns: 1fr 1fr;
    }
}
@media screen  and (max-width: 1200px) {
    .hero-text {
        font-size: 3.7vw;
        /* background:#eee; */
    }
    #projects-cards-container {
        grid-template-columns: 1fr;
    }
    #about {
        grid-template-columns: 30vw 40vw 30vw;
    }
    #profile-img-container {
        width: 20vw;
        height: 20vw;
        margin-right:15%; 
    }
}
@media screen  and (max-width: 600px) { /*mobile*/
    #navbar a {
        display:none;
    }
    .hero-text {
        font-size: 5vw;
        /* background:#eee; */
    }

    #about {
        grid-template-columns: 5vw 90vw 5vw;
    }
    #profile-img-container {
        display:none;
    } 
    #about-text {
        text-align: center;
    }
}
